*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'san-sarif'; */
}

body{
    background-color: black;
    color: white;
    font-family: sans-serif;
}
.copy-right{
    color: gray;
    font-size: 14px;
}